<div class="container-fluid my-5">
  <div class="w-100 d-flex justify-content-end mb-3">
    <input type="text" placeholder="Search..." class="form-control" style="max-width: 380px" data-reflex="debounced:input->TabularReflex#search">
  </div>

  <%= render "search_results" %>

  <div class="row">
    <%= button_tag type: 'button', class: 'btn btn-primary btn-add', data: {reflex: 'click->Modal#append_form', bs_toggle: 'modal', bs_target: '#user-modal'} do %>
      Add user
    <% end %>
  </div>

  <%= render "edit_modal" %>
</div>
