@import "~bootstrap/scss/bootstrap";

.lead {
  font-size: 1.1rem;
  padding-right: 7px ;
}
.active {
  font-weight: bold;
  color: green;
}
.inactive {
  color: red;
}
//.selected {
//  background-color: #0ca6c5 !important;
//}
